* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #222;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

#navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* WELCOME */
#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(70, 18, 18);
  color: white;
  text-align: center;
}

/* PROJECTS */
#projects {
  padding: 80px 20px;
  background: rgb(70, 70, 107);
  text-align: center;
  color: white;
}

.project-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  background: red;
  padding: 40px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  background: darkred;
}

/* CONTACT */
#contact {
  padding: 100px 20px;
  text-align: center;
  background: #111;
  color: white;
}

.socials {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.socials a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.socials a:hover {
  color: lightblue;
}

@media (max-width: 500px) {
  #welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
  }

  .project-tile {
    display: flex;
    flex-direction: column;
  }

  body {
    font-size: 16px;
  }
}
