* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: #111827;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

#navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* WELCOME */
#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("hand_kodning.jpg") center 20% / cover no-repeat;
  /*background: brown; */
  color: white;
  text-align: center;
  position: relative;
  z-index: 0;
}

/* PROJECTS */
#projects {
  height: 120vh;
  padding: 80px 20px;
  text-align: center;
  color: white;
  width: 100%;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;

background: radial-gradient(
    closest-corner circle at 95% 25%,
    #fff59d 0%,
    #ffeb3b 25%,
    #fdd835 30%,
    #fdd835 40%,
    #90caf9 300%,
    #90caf9 800%,
    transparent 60%
  );

}



.project-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  margin-top: 40px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  background: red;
  padding: 40;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
}

.project-card img {
  width: 100%;
  border-radius: 15px;
  padding: 5px;
}

.project-card:hover {
  transform: translateY(-5px);
  background: darkorange;
}

/* My PROJECTS */

#my_projects {
  height: 90vh;
  padding: 80px 20px;

  text-align: center;
  color: white;

  position: relative;
  overflow: hidden;

  background: radial-gradient(
    closest-corner circle at 95% 25%,
    #ccc 0,
    #ccc 20%,
    #445 21%,
    #445 101%,
    #445 201%,
    #223 300%
  );
  z-index: 0;
}




.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.rain::before {
  content: "";
  position: absolute;
  top: -200%;
  left: 0;
  width: 100%;
  height: 300%;

  background-image: radial-gradient(
    rgba(255, 255, 255, 0.8) 1px,
    transparent 1px
  );

  background-size: 40px 40px;

  animation: rain 1.8s linear infinite;
}

@keyframes rain {
  from {
    transform: translateY(-300px) skewX(-15deg);
  }
  to {
    transform: translateY(300px) skewX(-15deg);
  }
}






.project-tile,
#my_projects h2 {
  position: relative;
  z-index: 2;
}

/* CONTACT */
#contact {
  height: 100vh;
  padding: 100px 20px;
  text-align: center;
  background: #1f2937;
  color: white;
}

.socials {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.socials a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.socials a:hover {
  color: lightblue;
}

@media (max-width: 500px) {
  #welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
  }

  .project-tile {
    display: flex;
    flex-direction: column;
  }

  body {
    font-size: 16px;
  }
}

#profile-link {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 300;
  transition: all 0.3s ease;
  border: 1px solid #333;
}

#profile-link:hover {
  background: #2563eb;
  transform: translateY(-2px);
  border-color: #2563eb;
}

section {
  border-bottom: 5px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
}
